/.idea/
*.class
*.iml
*.lst
*.jar
/target/*





/gift-services-dist/src/main/resources/org/fao/gift/config/main.properties
/gift-services-dist/src/main/resources/org/fao/gift/config/upload.properties
